<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de examenes</span>
    <span class="example-spacer"></span>

    <a *ngIf="!login.isLoggedIn()" [routerLink]="'login'" mat-icon-button class="example-icon favorite-icon"
        style="margin-right: 150px;" aria-label="Example icon-button with heart icon">
        Iniciar Session
    </a>
    <a *ngIf="!login.isLoggedIn()" [routerLink]="'signup'" mat-icon-button class="example-icon favorite-icon"
        style="margin-right: 55px;" aria-label="Example icon-button with heart icon">
        Registrar
    </a>
    <a *ngIf="login.isLoggedIn()" (click)="logout()" mat-icon-button class="example-icon favorite-icon"
        style="margin-right: 150px;" aria-label="Example icon-button with heart icon">
        Cerrar Session
    </a>
    <button *ngIf="login.isLoggedIn() && user" mat-button style="margin-right: 10px" class="example-icon favorite-icon"
        style="margin-right: 10px;" aria-label="Example icon-button with heart icon" routerLink="/admin/profile">
        {{user.username}}
    </button>
</mat-toolbar>