
.mat-card {
    margin-bottom: 1rem;
}

.mat-card-content {
    padding: 1rem;
}

.row {
    margin-bottom: 1rem;
}

.mat-card-header,
.mat-card-content {
    text-align: center;
}

h3 {
    font-size: 1.25rem;
}


h4 {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.form-check {
    margin-bottom: 0.5rem;
}

.form-check-input {
    margin-right: 0.5rem;
}