<div class="bootstrap-wrapper" *ngIf="!esEnviado">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!-- Instrucciones -->
        <mat-card class="mt-4">
          <mat-card-content>
            <h4><b>Instrucciones</b></h4>
            <ul>
              <li>
                No actualice la página, de lo contrario obtendrá nuevas
                preguntas en este cuestionario.
              </li>
              <li>No cambies las pestañas.</li>
              <li>No minimices la ventana.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-7">
        <!-- Preguntas -->
        <ng-container *ngIf="preguntas">
          <h3 class="mb-4">
            En curso: <b>{{ preguntas[0].examen.titulo }}</b>
          </h3>
        </ng-container>

        <mat-card *ngFor="let p of preguntas; let i = index" class="mb-3">
          <mat-card-content>
            <p>
              <b>{{ i + 1 }})</b>
              <span [innerHTML]="p.contenidoPregunta"></span>
            </p>
            <mat-divider></mat-divider>
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="form-check">
                  <input
                    [(ngModel)]="p.respuesta"
                    type="radio"
                    [value]="p.opcion1"
                    id="{{ i }}-1"
                    name="{{ i }}"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="{{ i }}-1">{{
                    p.opcion1
                  }}</label>
                </div>
                <div class="form-check">
                  <input
                    [(ngModel)]="p.respuesta"
                    type="radio"
                    [value]="p.opcion2"
                    id="{{ i }}-2"
                    name="{{ i }}"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="{{ i }}-2">{{
                    p.opcion2
                  }}</label>
                </div>
                <div class="form-check">
                  <input
                    [(ngModel)]="p.respuesta"
                    type="radio"
                    [value]="p.opcion3"
                    id="{{ i }}-3"
                    name="{{ i }}"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="{{ i }}-3">{{
                    p.opcion3
                  }}</label>
                </div>
                <div class="form-check">
                  <input
                    [(ngModel)]="p.respuesta"
                    type="radio"
                    [value]="p.opcion4"
                    id="{{ i }}-4"
                    name="{{ i }}"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="{{ i }}-4">{{
                    p.opcion4
                  }}</label>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="text-center mt-4 mb-4">
          <button
            (click)="enviarCuestionario()"
            mat-raised-button
            color="primary"
          >
            Enviar cuestionario
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Progreso -->
        <mat-card class="mt-4">
          <mat-card-header>
            <mat-card-title>Temporizador</mat-card-title>
            <mat-card-subtitle
              >El cuestionario se enviará automáticamente cuando el temporizador
              llegue a 0:0.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <h4 class="text-center">{{ obtenerHoraFormateada() }}</h4>
            <mat-spinner
              mode="determinate"
              style="margin: auto"
              [value]="(timer / (this.preguntas?.length * 2 * 60)) * 100"
            ></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="bootstrap-wrapper" *ngIf="esEnviado">
  <div class="container mt-4">
    <div class="col-md-8 offset-md-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Resultado de la prueba</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <h4>Puntos conseguidos: {{ puntosConseguidos }}</h4>
          <h4>Respuestas correctas: {{ respuestasCorrectas }}</h4>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button (click)="imprimirPagina()" mat-raised-button color="primary">
            Imprimir
          </button>
          <button
            mat-raised-button
            color="accent"
            [routerLink]="'/user-dashboard/0'"
          >
            Inicio
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
